<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr>

    <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most engaged), please rate how <b>ENGAGING</b> you found the decision making task:
                </div>
                <div class="col-md-4">
                    <select id="engagement" name="engagement">
                        <option value="10">10 - Very engaging</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not engaged</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), please rate how <b>DIFFICULT</b> you found the decision making task:
                </div>
                <div class="col-md-4">
                    <select id="difficulty" name="difficulty">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not difficult at all</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 indicates the task was much too long), please indicate how you felt the length of the task was:
                </div>
                <div class="col-md-4">
                    <select id="length" name="length">
                        <option value="10">10 - Could be shorter</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5" SELECTED>5 - Right length</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Could be longer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    During a single trial, do you find yourself forgetting the amount that you were promised?
                </div>
                <div class="col-md-4">
                    <select id="length" name="length">
                        <option value="1">Yes, I always forgot</option>
                        <option value="2">I forgot most of the time</option>
                        <option value="3">I forgot about half of the time</option>
                        <option value="4">I remembered most of the time</option>
                        <option value="5" SELECTED>No, I remembered the amount all the time</option>
               
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
             <!-- beginning of a question >
            <div class="row question">
                <div class="col-md-8">
                   Do you have any comments or suggestions? Your answer will not affect payment.
                </div>
                <div class="col-md-4">
                    <textarea rows="4" cols="20" id="comments" name="comments" style="font-size: 12pt"></textarea>
                </div>
            </div>
          //  <!-- end of a question -->
            
            
        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
